<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        <h1>Layout 2</h1>
        @RenderBody()
    </body>
</html>
